<!--==========================
  About Section
============================-->
<section id="about" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 about-img">
        <img src="../../assets/img/sitImg.jpg" alt="">
      </div>

      <div class="col-lg-6 content">
        <h2>About Us</h2>
        <h3>Vision</h3>
        <ul>
          <li><i class="ion-android-checkmark-circle"></i> We strive to be a world class player in providing software solutions with utmost levels of honesty, professionalism and technical capability.</li>
        </ul>
        <h3>Mision</h3>
        <ul>
          <li><i class="ion-android-checkmark-circle"></i> Sasurie InfoTech technocrats apply cutting-edge technologies for building top-quality software artifacts amicable with customer requirements.</li>
        </ul>
        <h3>Objective</h3>
        <ul>
          <li><i class="ion-android-checkmark-circle"></i> A none of the kind of Software development cell driven by the Students of CSE department with the support of faculty members.</li>
        </ul>
      </div>
    </div>

  </div>
</section><!-- #about -->
