<!--==========================
  Our Team Section
============================-->
<section id="team" class="wow fadeInUp">
  <div class="container"  *ngIf="item">
    <div class="section-header">
      <h2>Our Team</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6" *ngFor="let member of team">
        <div class="member">
          <div class="pic"><img src="{{member.image}}" alt=""></div>
          <div class="details">
            <h4>{{member.name}}</h4>
            <span><b>{{member.designation}}</b></span>
            <span>Batch: {{member.year}}</span>
            <!-- <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- #team -->